 <div class="landing-page">
      <div class="page-content">
        <div class="grid-logo">
            <div class="logo-gauche"></div>
            <div class="logo-milieu">
                <div class="service-box">
                  <div class="service-icon">
                    <img src="../../assets/logo.png" />
                  </div>
                </div>
            </div>
            <div class="logo-droite"></div>
        </div>
        
        <div class="grid-bnner">
            <div class="text-grid-gau"></div>
            <div class="text-grid-mil">
                <div class="form-text">
                    <h1 class="" style="font-size: 55px;">&nbsp;&nbsp;Connexion</h1>
                    <p class="" style="font-size: 20px;">Veuillez s'il vous plait renseigner les champs de connexion</p>
                </div>
            </div>
            <div class="text-grid-droi"></div>
        </div>
        <div class="grid-container">
            <div class="inscription">
                <div class="ins-btn">
                    <p>
                        <b><a routerLink="/client">Inscription</a></b>
                    </p>
                </div>
            </div>
            <div class="principale">
                
                <div class="">
                    <form action="">
                        <section class="formul">
                            <input id="con-input" type="email" placeholder="Email ou pseudo" />
                            <input id="con-input" type="password" placeholder="Mot de passe" />
                            <div>
                                <div style="float: left;" class="form-group">
                                    <input type="checkbox" id="remb">
                                    <label for="remb">Se souvenir de moi</label>
                                </div>
                                <span style="float: right;margin-right: 15px;">
                                    <a href="" style="color: #fff; text-decoration: none;">Mot de passe oublié ?</a>
                                </span>
                            </div>
                        </section>
                        
                        <div id="next">
                            <button type="submit" class="btn-sbm">
                                <i  class="fa fa-arrow-alt-circle-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>  
            <div class="connexion">
                <div class="con-btn">
                    <p>
                        <b><a routerLink="/connexion">Connexion</a></b>
                    </p>
                </div>
            </div>
	    </div>
      </div>
    </div>