    <div class="landing-page">
      <div class="page-content">
      <div class="grid-logo">
        <div class="logo-gauche"></div>
        <div class="logo-milieu">
            <div class="service-box">
              <div class="service-icon">
                <img src="../../assets/logo.png" />
              </div>
            </div>
        </div>
        <div class="logo-droite"></div>
      </div>
      <div class="grid-container">
  	  <div class="inscription">
  	     <div class="ins-btn">
  	       <p><b><a routerLink="/client"> Inscription</a></b></p>
  	     </div>
  	  </div>
  	  <div class="principale">
        <input type="radio" class="cs_anchor radio" name="slider" id="slide1"/>
        <input type="radio" class="cs_anchor radio" name="slider" id="slide2"/>
        <input type="radio" class="cs_anchor radio" name="slider" id="slide3"/>
        <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked=""/>
        
        <div class="images">
          <div class="images-inner">
            <div class="image-slide">
                <div class="image">
                  <h1 class="animate__animated animate__fadeInDown animate__delay-2s">&nbsp;&nbsp;eeyaa</h1>
                  <p class="animate__animated animate__fadeInUp animate__delay-2s">&nbsp;&nbsp;&nbsp;Entrez dans l'ère du participatif</p>
                </div>
            </div>
            <div class="image-slide">
                <div class="image">
                  <h1 class="animate__animated animate__fadeInDown animate__delay-2s">&nbsp;&nbsp;eeyaa</h1>
                <p class="animate__animated animate__fadeInUp animate__delay-2s">&nbsp;&nbsp;&nbsp;Entrez dans l'ère du participatif</p>
                </div>
            </div>
            <div class="image-slide">
              <div class="image">
                <h1 class="animate__animated animate__fadeInDown animate__delay-2s">&nbsp;&nbsp;eeyaa</h1>
              <p class="animate__animated animate__fadeInUp animate__delay-2s">&nbsp;&nbsp;&nbsp;Entrez dans l'ère du participatif</p>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-align-bout">
          <div class="bout-gauche"></div>
          <div class="bout-milieu">
            <div class="labels">
              <div class="fake-radio">
                <label for="slide1" class="radio-btn"></label>
                <label for="slide2" class="radio-btn"></label>
                <label for="slide3" class="radio-btn"></label>
              </div>
            </div>
          </div>
          <div class="bout-droite"></div>
        </div>
       
  	  </div>  
	  <div class="connexion">
	    <div class="con-btn">
	      <p><b><a routerLink="/connexion" id="liens">Connexion</a></b></p>
	    </div>
	  </div>
	</div>
        
      </div>
    </div>